body{
    font-family: 'Poppins', sans-serif;
}
input, 
label
{
    display: block;
}
input{
    font-size: 32px;
    width: 120px;
    height: 60px;
    border-radius: 5px;
    padding-left: 15px;
    border-color: antiquewhite;
    border: none;
}
input:focus{
    outline: none;
    border: 1px solid blueviolet;
}


.data_input{
    display: flex;
    margin-top: 10%;
    padding-left: 15%;
    background-color: rgb(99, 93, 93);
    
}
.day-month-year{
    display: inline-block;
}
.all_content{
    margin-left: 10%;
    margin-right: 10%;
}
.for_btn{
    background-color: rgb(21, 97, 37);
    display: flex;
    justify-content: end;
    padding-right: 20%;
}

button{
    width:80px;
    height: 80px;
    border-radius: 50%;
    color: antiquewhite;
    background-color: blueviolet;
    border: none;
    cursor: pointer;
}
button:hover:focus:active{
    background-color: black;
}

.number-result{
    color: rgb(99, 52, 143);
}
.result{
    background-color: brown;
    font-size: 5rem;
    padding-left: 15%;
}

